---
import { Icon } from 'astro-icon/components';

import { UI } from 'astrowind:config';

export interface Props {
  label?: string;
  class?: string;
  iconClass?: string;
  iconName?: string;
  iconNameDark?: string;
}

const {
  label = 'Toggle between Dark and Light mode',
  class:
    className = 'border-0 ring-0 focus:ring-0 focus-visible:ring-0 outline-none focus:outline-none text-muted dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center',
  iconClass = 'w-6 h-6',
  iconName = 'tabler:sun',
  iconNameDark = 'tabler:moon',
} = Astro.props;
---

{
  !(UI.theme && UI.theme.endsWith(':only')) && (
    <button type="button" class={className} aria-label={label} data-aw-toggle-color-scheme>
      <Icon name={iconName} class={`inline-block ${iconClass} dark:hidden`} />
      <Icon name={iconNameDark} class={`hidden ${iconClass} dark:inline-block`} />
    </button>
  )
}
